/*-- scss:rules --*/

@font-face {
  font-family: "Light";
  font-style: normal;
  src: url("style/helveticaneueltstd-light-webfont.woff") format("woff");
}

@font-face {
  font-family: "Condensed";
  font-style: normal;
  src: url("style/helveticaneueltstd-cn-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bold-Condensed";
  font-style: normal;
  src: url("style/helveticaneueltstd-bdcn-webfont.woff") format("woff");
}

@font-face {
  font-family: "Medium";
  font-style: normal;
  src: url("style/helveticaneueltstd-md-webfont.woff") format("woff") local("Medium");
}

@font-face {
  font-family: "Medium-Condensed";
  font-style: normal;
  src: url("style/helveticaneueltstd-mdcn-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roman";
  font-style: normal;
  src: url("style/helveticaneueltstd-roman-webfont.woff") format("woff");
}

@font-face {
  font-family: "Arial Narrow";
  font-style: normal;
  src: url("style/ARIALN.TTF") format("ttf");
}
