snippet footer_logo
	<a href="https://metrocouncil.org" target="_blank">
		<img src="path/to/main-logo.png" style="padding: 1%" align="right">
	</a>


snippet alternate_format
	<div style="font-size: 1.5rem; display: block; text-align: right; padding: 1%;" align="right">
		For an accessible version of this information, please contact us at
			<a href="mailto:public.info@metc.state.mn.us">public.info@metc.state.mn.us</a>
	</div>
