snippet counties
	c("Anoka",
		"Carver",
		"Dakota",
		"Hennepin",
		"Ramsey",
		"Scott",
		"Washington")
snippet counties_mpo
	c("Anoka",
		"Carver",
		"Dakota",
		"Hennepin",
		"Ramsey",
		"Scott",
		"Sherburne",
		"Washington",
		"Wright")
snippet metro_centroid
	c(-93.30375,
		44.91831)
snippet metro_crs
	26915
snippet tile_crs
	4326
